In [3]:
import pandas as pd

# FIFA 2022

In [8]:
# date for each game in the group stage
# if a date repeats, it means there are two games at this date
# consider to add the time of the event as well
date=['2022-11-20', '2022-11-21', '2022-11-21', '2022-11-22', '2022-11-22', '2022-11-22', '2022-11-22', '2022-11-23', '2022-11-23', '2022-11-23', '2022-11-23', '2022-11-24', '2022-11-24', '2022-11-24', '2022-11-24', '2022-11-25', '2022-11-25', '2022-11-25', '2022-11-25', '2022-11-26', '2022-11-26', '2022-11-26', '2022-11-26', '2022-11-27', '2022-11-27', '2022-11-27', '2022-11-27', '2022-11-28', '2022-11-28', '2022-11-28', '2022-11-28', '2022-11-29', '2022-11-29', '2022-11-30', '2022-11-30', '2022-11-30', '2022-11-30', '2022-12-01', '2022-12-01', '2022-12-02', '2022-12-02', '2022-12-03', '2022-12-03']
len(date)

43

In [9]:
data = {'Date': date}
df = pd.DataFrame(data)
df.head()

         Date
0  2022-11-20
1  2022-11-21
2  2022-11-21
3  2022-11-22
4  2022-11-22

In [10]:
df.to_csv('fifa_dates.csv', index=None)

# Semester dates

In [6]:
semester_dates={
    '2022-01-01': "New Year's Day (Bank holiday)",
    '2022-01-10': "Study period until Thursday January 13, Start of the first examination period",
    '2022-02-02': "KU Leuven Patron Saint's Day Celebration (Bank holiday)",
    '2022-02-05': "End of the first examination period, No classes until Sunday 13 February",
    '2022-02-14': "Start of second semester",
    '2022-04-02': "Easter holiday from Saturday 2 April until Monday 18 April",
    '2022-04-17': "Easter",
    '2022-04-18': "Easter Monday (Bank holiday)",
    '2022-05-01': "Labour Day (Bank holiday)",
    '2022-05-26': "Feast of the Ascension (Bank holiday)",
    '2022-05-28': "End of second semester classes, Study period until Sunday 12 June",
    '2022-06-05': "Pentecost",
    '2022-06-06': "Pentecost Monday (Bank holiday)",
    '2022-06-13': "Start of second examination period",
    '2022-07-02': "End of second examination period",
    '2022-07-04': "Start of examination board meetings",
    '2022-07-09': "End of examination board meetings",
    '2022-07-11': "Holiday of the Flemish Community (Bank holiday)",
    '2022-07-21': "Belgian National Holiday (Bank holiday)",
    '2022-08-15': "Assumption of Mary (Bank holiday)",
    '2022-08-16': "Start of registration for the 2022-2023 academic year",
    '2022-09-05': "Monday of Leuven Funfair (Bank holiday)",
    '2022-09-10': "End of third examination period",
    '2022-09-12': "Start of examination board meetings",
    '2022-09-17': "End of examination board meetings",
    '2022-09-26': "Opening academic year 2022-2023 in Leuven",
    '2022-10-01': "All Saints (Bank holiday)",
    '2022-10-02': "All Souls' Day (Bank holiday)",
    '2022-10-11': "Armistice Day (Bank holiday)",
    '2022-12-24': "End of first semester classes, Christmas holiday from Saturday 24 December until Sunday 8 January",
    '2022-12-25': "Christmas (Bank holiday)",
    '2022-12-26': "Boxing Day (Bank holiday)"
}

In [7]:
df2 = pd.DataFrame(semester_dates)
df2.head()

ValueError: If using all scalar values, you must pass an index

In [11]:
data = {

    '2022-01-01': "New Year's Day (Bank holiday)",
    '2022-01-10': "Study period until Thursday January 13, Start of the first examination period",
    '2022-02-02': "KU Leuven Patron Saint's Day Celebration (Bank holiday)",
    '2022-02-05': "End of the first examination period, No classes until Sunday 13 February",
    '2022-02-14': "Start of second semester",
    '2022-04-02': "Easter holiday from Saturday 2 April until Monday 18 April",
    '2022-04-17': "Easter",
    '2022-04-18': "Easter Monday (Bank holiday)",
    '2022-05-01': "Labour Day (Bank holiday)",
    '2022-05-26': "Feast of the Ascension (Bank holiday)",
    '2022-05-28': "End of second semester classes, Study period until Sunday 12 June",
    '2022-06-05': "Pentecost",
    '2022-06-06': "Pentecost Monday (Bank holiday)",
    '2022-06-13': "Start of second examination period",
    '2022-07-02': "End of second examination period",
    '2022-07-04': "Start of examination board meetings",
    '2022-07-09': "End of examination board meetings",
    '2022-07-11': "Holiday of the Flemish Community (Bank holiday)",
    '2022-07-21': "Belgian National Holiday (Bank holiday)",
    '2022-08-15': "Assumption of Mary (Bank holiday)",
    '2022-08-16': "Start of registration for the 2022-2023 academic year",
    '2022-09-05': "Monday of Leuven Funfair (Bank holiday)",
    '2022-09-10': "End of third examination period",
    '2022-09-12': "Start of examination board meetings",
    '2022-09-17': "End of examination board meetings",
        '2022-09-26': "Opening academic year 2022-2023 in Leuven",
    '2022-10-01': "All Saints (Bank holiday)",
    '2022-10-02': "All Souls' Day (Bank holiday)",
    '2022-10-11': "Armistice Day (Bank holiday)",
    '2022-12-24': "End of first semester classes, Christmas holiday from Saturday 24 December until Sunday 8 January",
    '2022-12-25': "Christmas (Bank holiday)",
    '2022-12-26': "Boxing Day (Bank holiday)"
}

df2 = pd.DataFrame.from_dict(data, orient='index', columns=['Holiday'])
df2.index.name = 'Date'
#df2.head()

In [13]:
df2.to_csv('../Additional_Data/semester_dates.csv')

In [12]:
#pd.read_csv('../Additional_Data/semester_dates.csv')

# Concerts

In [14]:
concerts = {
    '11.03.2022': 'Sylvie Kreusch',
    '12.03.2022': 'Oldskool Leuven XL',
    '25.03.2022': 'Brutus',
    '26.03.2022': 'Yevgueni',
    '27.03.2022': 'Yevgueni',
    '30.03.2022': 'The Sore Losers + DeWolff',
    '03.04.2022': 'Cory Wong',
    '09.04.2022': 'Shht',
    '12.04.2022': 'The Haunted Youth',
    '19.04.2022': 'Admiral Freebee',
    '22.04.2022': 'Eefje de Visser',
    '26.04.2022': 'Protoje',
    '30.04.2022': 'Feest!',
    '21.05.2022': 'Soulsister',
    '28.05.2022': 'Nick Waterhouse',
    '30.05.2022': 'JJ Wilde',
    '09.06.2022': 'TaxiWars',
    '11.06.2022': 'YES',
    '12.06.2022': 'Frazey Ford',
    '20.06.2022': 'Suzanne Vega',
    '21.09.2022': 'De Kreuners',
    '22.09.2022': 'De Kreuners',
    '29.09.2022': 'Lettuce',
    '02.02.2022': 'Femi Kuti',
    '04.10.2022': 'Madeleine Peyroux',
    '08.10.2022': 'Mudhoney',
    '09.10.2022': 'Levellers',
    '10.10.2022': 'Heather Nova',
    '21.10.2022': 'Alfa Mist',
    '25.10.2022': 'Groundation',
    '29.10.2022': 'Duncan Laurence',
    '14.11.2022': 'Lizz Wright',
    '20.12.2022': 'Axelle Red: a very special Christmas',
    '23.03.2023': 'Blackberry Smoke',
    '22.04.2023': 'The Mission'
}

In [15]:
df3 = pd.DataFrame.from_dict(concerts, orient='index', columns=['Holiday'])
df3.index.name = 'Date'
df3.head()

                       Holiday
Date
11.03.2022      Sylvie Kreusch
12.03.2022  Oldskool Leuven XL
25.03.2022              Brutus
26.03.2022            Yevgueni
27.03.2022            Yevgueni

In [16]:
df3.to_csv('../Additional_Data/concerts.csv')